body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  header p {
    font-size: 18px;
  }
  .about{
    text-align: center;
  }
  .about, .projects, .contact {
    padding: 20px;
    margin: 20px;
    background-color: #6e6c6c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  .projects{
    background-color: #6e6c6c;
  }
  .project {
    margin: 20px 0;

  }
  
  .project img {
    max-width: 40%;
    height: auto;
  }
  
  .project h3 {
    font-size: 18px;
  }
  
  .project p {
    font-size: 16px;
  }